doctype html
html
  head
    meta(charset='utf-8')
    title Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    link(rel='stylesheet', href='styles/main.css')

  body
    !='<!--[if lte IE 9]>'
    p.browsehappy
      | You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    !='\n<![endif]-->'

    .main
      h1 Hello there.
      h3 K-k-k-kilowaaaaaaatt!

      .hello-block
        img.bam(src='images/bam.png')
        p You gotta lotta nice-a stuff-a
        ul
          li Jade, Stylus, Gulp, oh-my!
          li Browser-Sync for easy reloading
          li Gulp task submodules, because those are nice
          li (Cached) Imagemin (for tiny img!)
          li Magical wiredep, and more!

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    script(src='scripts/main.js')

    include includes/google-analytics.jade
